$bodyBg: #FFF9F0;
$fontColor: #003B21;
$green: $fontColor;
$yellow: #FEC43C;
$pink: #DF1173;

body
{
    background: #FFF9F0;
}

@font-face
{
    src: url('../fonts/BNAxelGrotesk-Bold.otf');
    font-family: 'BNAxelGrotesk';
    font-weight: 400;
}

@mixin BNAxelGrotesk{
    font-family: 'BNAxelGrotesk';
    text-transform: uppercase;
}

@mixin inter
{
    font-family: 'Inter', sans-serif;
}

@mixin fs14
{
    font-size: 14rem;
    line-height: 1.16;
}


@mixin fs16
{
    font-size: 16rem;
    line-height: 1.16;
}

@mixin fs18
{
    font-size: 18rem;
    line-height: 1.16;
}

@mixin fs20
{
    font-size: 20rem;
    line-height: 1.16;
}

@mixin fs21
{
    font-size: 21rem;
    line-height: 1.16;
}

@mixin fs24
{
    font-size: 24rem;
    line-height: 1.16;
}

@mixin fs26
{
    font-size: 26rem;
    line-height: 1.16;
}

@mixin fs30
{
    font-size: 30rem;
    line-height: 1.16;
}

@mixin fs36
{
    font-size: 36rem;
    line-height: 1.16;
}


@mixin fs40
{
    font-size: 430rem;
    line-height: 1.16;
}

@mixin fs45
{
    font-size: 45rem;
    line-height: 1.16;
}

@mixin fs60
{
    font-size: 60rem;
    line-height: 1.16;
}

@mixin fs70
{
    font-size: 70rem;
    line-height: 1.16;
}

@mixin fs75
{
    font-size: 75rem;
    line-height: 1.16;
}

@mixin fs100{
    font-size: 100rem;
    line-height: 1.16;
}

@mixin fs128
{
    font-size: 128rem;
    line-height: 1.02;
}

body,select,textarea,input
{
    @include inter;
}

h1,h2,h3,h4,h5,h6
{
    @include BNAxelGrotesk;
}


.text-center
{
    text-align: center;
}

.text-right
{
    text-align: right;
}

img
{
    height: auto;
}

.mobile
{
    display:none;
}

*
{
    outline: 0px;
}

a,a:hover,a:focus{
    text-decoration:none;
}

@media all and (max-width: 575px)
{
    .desktop
    {
        display:none;
    }

    .mobile
    {
        display:block;
    }
}

@media all and (max-width: 1024px)
{

    header
    {
        display:none;
    }

    #mobile-delimeter
    {
        height: 50px;
    }

    .loke-menu-icon span {
        border: 1px solid #00a8fc;
        float: left;
        margin: 3px 0;
        width: 100%;
        position: relative;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }

    .loke-menu-icon {
        position: absolute;
        top: 13px;
        right: 15px;
        text-align: right;
        width: 30px;
    }

    .loke-menu-icon.open span:nth-child(1) {
        position: relative;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .loke-menu-icon.open span:nth-child(2) {
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: -8px;
    }

    .loke-menu-icon.open span:nth-child(3) {
        opacity: 0;
    }

    #menu-toggle.open{
        position: absolute;
        top: 20px;
    }

    #mobile-menu-wrapper{

        padding: 10px 15px !important;
        padding-top: 10px !important;
        position: fixed;
        top: 50px;
        left: 0px;
        background: #fff;
        width: 100%;
        height:100%;
        transition: 0.3s;
        transform: translateX(100%);
        pointer-events: none;
        opacity: 0;

        transition: 0.5s;

        &.active
        {
            pointer-events: auto;
            opacity: 1;
            opacity: 1;
            transform: translateX(0%);
        }
        ul
        {
            margin: 0px;
            padding: 0px;
            li
            {
                display: block;
                margin-bottom: 10px;

                a
                {
                    &.active
                    {

                    }

                }
            }
        }
    }

    #logo-mobile img
    {
        height: 50px;
        width: auto;
        margin-left: 15px;
    }

    #mobile-header
    {
        background: #fff;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.35);
        display: block;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 40;
        width: 100%;
    }

    #top-mobile-row
    {
        height: 50px;
    }


    #mobile-menu-wrapper
    {
        display:block;
        ul
        {
            li
            {
                margin-bottom:20px;
                a
                {

                    font-size: 20px;
                    text-transform: uppercase;
                }

                transition: 0.5s;
                transform: translateY(30px);
                opacity: 0;


                &:nth-child(1)
                    {
                    transition-delay: 0.3s;
                }

                &:nth-child(2)
                    {
                    transition-delay: 0.35s;
                }

                &:nth-child(3)
                    {
                    transition-delay: 0.4s;
                }

                &:nth-child(4)
                    {
                    transition-delay: 0.45s;
                }

                &:nth-child(5)
                    {
                    transition-delay: 0.5s;
                }

                &:nth-child(6)
                    {
                    transition-delay: 0.55s;
                }

                &:nth-child(7)
                    {
                    transition-delay: 0.6s;
                }

                &:nth-child(8)
                    {
                    transition-delay: 0.65s;
                }

            }
        }

        &.active
        {
            ul li
            {
                transform: translateY(0px);
                opacity: 1;
            }
        }
    }
}

header
{
    div> ul
    {
        margin: 0px;
        padding: 0px;
        list-style: none;
        > li
        {
            display: inline-block;
            position:relative;
            > a
            {

            }

            .sub-menu
            {
                list-style: none;
                position: absolute;
                top: 100%;
                z-index: 12;
                left: 0%;
                background: #fff;
                left: 0px;
                margin: 0px;
                padding: 5px;
                display: none;

                li
                {
                    white-space: nowrap;
                    a
                    {

                    }
                }
            }

            &:hover
                {
                .sub-menu
                {
                    display: block;
                }
            }
        }
    }
}

.row-center
{
    justify-content: center;
}

@media all and (min-width:576px)
{
    .row-reverse
    {
        flex-direction: row-reverse
    }
}

.align-middle
{
    display: flex;
    align-items: center;
    >div
    {
        width: 100%;
    }
}

.align-bottom
{
    display: flex;
    align-items: flex-end;
    >div
    {
        width: 100%;
    }
}

.row-spaced
{
    margin-top: -15px;
    margin-bottom: -15px;
    >div
    {
        padding-top: 15px;
        padding-bottom: 15px;
    }

}

.modal-dialog {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: visible;
}
@media(max-width: 576px) {
    .modal-dialog {
        min-height: calc(100vh - 20px);
    }
}

#mobile-phone
{
    position: absolute;
    right: 70px;
    top: 5px;
    font-size: 28px;
    color: #fff;
}

.modal-content
{
    border-radius: 0px;
    border: 0px;

    #modal-content-itself
    {
        padding: 15px;
    }

    #close-modal
    {
        position: absolute;
        top: 5px;
        right: 10px;
        font-size: 30px;
        line-height: 1;
        color: #000;
    }
}

.modal-dialog
{
    max-width:750px;
}

#the-page-content
{
    padding: 50px 0;
    @media all and (max-width:1024px)
        {
        padding: 30px 0;
    }
}

#desktop-delimiter
{
    height: 90rem;
    @media all and (max-width:1024px)
        {
        display:none;
    }
}

header
{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 10;
}

body.admin-bar
{
    header
    {
        top: 32px;
    }
}

#formidable-form
{
    form
    {
        .form-field:not(.vertical_radio)
            {
            >label
            {
                display:none;
            }
        }

        input,textarea,button
        {
            border-radius: 0;
            box-shadow: none;
        }
    }
}


/**Basic REM Stuff**/
html
{
    font-size: 0.052vw;

    /*
    @media all and (min-width: 1440px)
        {
        font-size: 1px;
    }*/

    @media all and (max-width: 1024px)
        {
        font-size: 1px;
    }
}


body
{
    @include fs16;
}

a
{
    transition: 0.55s;
}

p,h1,h2,h3,h4,h5,h6,li
{
    margin-bottom: 15rem;
    &:last-child
        {
        margin-bottom: 0rem;
    }

}

p
{
    color: $fontColor;
}

h1
{
    @include fs75;
}

h2
{
    @include fs60;
}

h3
{
    @include fs40;
}

h4
{
    @include fs30;
}

h5
{
    @include fs26;
}

h6
{
    @include fs20;
}

h1,h2,h3,h4,h5,h6
{
    color: $fontColor;
}

.row
{
    margin-left: -15rem;
    margin-right: -15rem;
    >div
    {
        padding-left: 15rem;
        padding-right: 15rem;
    }

    &.row-spaced
    {
        margin: -15rem;
        >div
        {
            padding: 15rem;
        }
    }

    &.row-0
    {
        margin: 0rem;
        >div
        {
            padding: 0rem;
        }
    }
}

/*End fo Basic Rem Stuff*/

.section-hero
{
    position:relative;
    >img
    {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
        max-height: 100vh;
        min-height: 450rem;
    }

    .section-hero-floating
    {
        top: 50%;
        left: 0px;
        width: 100%;
        transform: translateY(-50%);
        position: absolute;

        h1,p
        {
            color: #fff;
        }

        @media all and (min-width: 1025px)
            {
            h1
            {
                margin-bottom: 60rem;
            }
        }
    }
}

#the-map
{
    min-height: 300rem;
}

body.no-scroll
{
    overflow: hidden;

}

.the-modal
{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display:none;

    >div
    {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .the-modal-content
    {
        background: #fff;
        width: 100%;
        max-width: 800rem;
        padding: 40rem;
        max-height: 80vh;
        position: relative;
        >div
        {
            overflow: auto;
        }
        .close-the-modal
        {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 3;
            width: 32rem;
            height: 32rem;
            background: url('../images/close-the-modal.png') no-repeat center;
            background-size: contain;
            transform: translate(-5rem,5rem);
        }
    }

}

#mobile-menu-button
{
    display: block;
    width: 30rem;
    height: 20rem;

    position:relative;

    span
    {
        position: absolute;
        width: 100%;
        height: 2rem;
        background: #fff;
        left: 0;
        transition: 0.55s;
    }

    span:nth-child(1)
        {
        top: 0;
    }

    span:nth-child(2)
        {
        top: 50%;
        margin-top: -1rem;
    }

    span:nth-child(3)
        {
        bottom: 0;
    }

    &.active
    {
        span:nth-child(1)
            {
            top: 50%;
            margin-top: -1rem;
            transform: rotate(45deg);
        }

        span:nth-child(2)
            {
            opacity: 0;
        }

        span:nth-child(3)
            {
            top: 50%;
            margin-top: -1rem;
            transform: rotate(-45deg);
        }
    }
}

#top-mobile-row
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15rem;
    .loke-menu-icon
    {
        position: static;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30rem;
        height: 20rem;
    }

    .loke-menu-icon span
    {
        margin: 0;
        float: none;
        transform-origin: 50% 50%;
    }

    .loke-menu-icon.open
    {
        span
        {
            top: 0;
            &:first-child
                {
                top: calc(50% - 2rem);
            }
        }
    }
}

#entire-content
{
    width:100%;
    overflow:hidden;
}

.container-fluid
{
    max-width: 1820rem;
}

header
{
    background: $green;
    padding: 20rem 0;

    #dla
    {
        display:block;
        svg,img
        {
            width:100%;
            max-width:250rem;
            height:auto;
        }
    }

    div>ul
    {
        width:100%;
        display:flex;
        justify-content: space-between;

        li
        {
            margin: 0;
            a
            {
                @include fs45;
                @include BNAxelGrotesk;
                color:#fff;
                text-transform: uppercase;
                &:hover
                    {
                    color:$yellow;
                }
            }
        }
    }
}

@mixin theButton
{
    display: inline-block;
    padding: 17rem 35rem;
    text-transform: uppercase;
    @include fs30;
    @include BNAxelGrotesk;
    color:#fff;
    background: $pink;
    border:0;
    transition: 0.55s;
    &:hover
        {
        background:$green;
        color:#fff;
    }
}

.the-button
{
    @include theButton;
}

#home-hero
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: calc(100vh - 90rem);
    padding-bottom: 110rem;

    h1
    {
        color:#fff;
        @include fs128;
        max-width: 1020rem;
        text-transform: uppercase;
    }

    .button-wrapper
    {
        margin-top:110rem;
    }
}

.admin-bar #home-hero
{
    min-height: calc(100vh - 32px - 90rem);
}

#entire-content
{
    .one-menu
    {
        max-width: 460rem;
        text-align:center;
        margin:auto;

        .one-menu-picture
        {
            position:relative;
            width:100%;
            padding-bottom: 100%;
            display:block;
            margin-bottom:30rem;

            img,
            &:before
                {
                position:absolute;
                top:50%;
                left:50%;
                width:100%;
                height:100%;
                transform: translate(-50%,-50%);
            }

            &:before
                {
                content: "";
                border-radius:100%;
                background: #F7F1E7;
            }

            img
            {
                object-fit: contain;
                object-position: center;
            }
        }

        .one-menu-title
        {
            @include fs24;
            @include BNAxelGrotesk;
            text-transform: uppercase;
            font-weight:bold;
            margin-bottom: 7rem;

            .alergen
            {

            }
        }

        .one-menu-descripion
        {
            @include fs21;
        }



        .one-menu-price-wrapper
        {
            .one-menu-price
            {

            }

            .one-menu-macros
            {
                div
                {

                }
            }
        }
    }


}

#home-menu
{
    padding: 260rem 0;
    background: $bodyBg;
    .button-wrapper
    {
        margin-top:130rem;
        text-align:center;
    }

    #home-menu-slider
    {
        position:relative;
        .owl-prev,
        .owl-next
        {
            position:absolute;
            bottom: -185rem;
            outline: 0;

        }

        .owl-prev
        {
            left: 12%;
        }

        .owl-next
        {
            right:12%;
        }
    }

    .the-button
    {
        width:100%;
        max-width: 280rem;
    }
}

#home-tiles
{
    .one-home-tile
    {
        .one-home-content
        {
            padding:15rem;
            max-width: 675rem;
            margin:auto;
            h2
            {
                @include fs100;
                line-height:1.02;
                @media all and (min-width: 1025px)
                    {
                    line-height: 0.85;
                }
                text-transform: uppercase;
            }

            .button-wrapper
            {
                margin-top:90rem;
            }
        }

        .col-sm-6:nth-child(1)
            {
            img
            {
                width:100%;
                height:100%;
                object-fit: cover;
                object-position: center;
            }
        }

        .col-sm-6:nth-child(2)
            {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &:nth-child(1)
            {
            background:$green;

            @media all and (min-width: 576px)
                {
                .row
                {
                    flex-direction: row-reverse;
                }
            }

            h1,h2,h3,p
            {
                color:$bodyBg;
            }
        }

        &:nth-child(2)
            {

            h2 + p
            {
                margin-top:50rem;
            }

            a
            {
                color:$green;
                @include BNAxelGrotesk;
                @include fs30;
                text-decoration: underline;
                &:nth-child(1)
                    {
                    margin-right:40rem;
                }

                &:hover
                    {
                    color:$yellow;
                }
            }
        }
    }
}

@mixin pinkFont
{
    display:inline-block;
    background:$pink;
    color:$bodyBg;
    text-decoration: none!important;
    padding-left:5rem;
    padding-right:5rem;
}

.pink-font
{
    @include pinkFont;
}

#home-we-are-making
{
    padding-top:270rem;
    padding-bottom: 200rem;
    text-align:center;

    .container-fluid
    {
        max-width: 1333rem;
        margin: auto;
    }

    h2
    {

        span
        {
            @include pinkFont;
        }
    }

    h2+ p
    {
        margin-top:110rem;
    }

    p
    {

        a
        {
            @include theButton;
            background:$green;
            width:100%;
            max-width: 280rem;
            &:hover
                {
                background:$pink;
            }
        }
    }
}

@mixin niceForm
{
    ::-webkit-input-placeholder {
        color: $green;
    }
    ::-moz-placeholder {
        color: $green;
    }
    :-ms-input-placeholder {
        color: $green;
    }
    :-moz-placeholder {
        color: $green;
    }

    input[type="text"]
    {
        height:50rem;
        background:#fff;
        padding: 0 15rem;
        @include fs26;
    }
    
    input[type="submit"],
    button
    {
        @include theButton;
        height:50rem;
        padding: 0 25rem;
        @include fs20;
    }
    
}

#home-featured-in
{
    padding: 100rem 0;
    background: $yellow;
    .row
    {
        align-items: center;
    }

    h2
    {
        @include fs60;
        @media all and (min-width: 1025px)
            {
            font-size: 65rem;
        }
    }

    .col-sm-9{
        text-align:center;
    }
}

footer
{
    .footer-left-row
    {
        height:100%;
        display:flex;
        flex-direction: column;
        .footer-menus
        {
            flex-grow: 1;
            padding: 15rem 70rem;
            display:flex;

            ul
            {
                list-style:none;
                margin: 0;
                padding: 0;
                li
                {
                    a
                    {
                        @include fs30;
                        color:$green;
                        font-weight:bold;
                        &:hover
                            {
                            color:$pink;
                        }
                    }
                }
            }

            >div:nth-child(1)
                {
                width:150rem;
                flex:150rem;
                min-width:150rem;
                max-width:150rem;
            }

            >div:nth-child(2)
                {
                width:calc(100% - 350rem);
                flex:calc(100% - 350rem);
                min-width:calc(100% - 350rem);
                max-width:calc(100% - 350rem);
                ul
                {
                    display:flex;
                    flex-wrap:wrap;
                    li
                    {
                        width: 50%;
                        flex: 50%;
                        min-width: 50%;
                        max-width: 50%;
                    }
                }
            }

            >div:nth-child(3)
                {
                width:200rem;
                flex:200rem;
                min-width:200rem;
                max-width:200rem;
            }

        }
    }

    .footer-right-row
    {
        height:100%;
        padding: 15rem;
        background:$green;
        >div
        {
            width:100%;
            max-width: 650rem;
            margin:auto;
        }
    }

    .footer-copyright
    {
        padding: 15rem 70rem;
        background: $pink;
        color:$bodyBg;
        @include fs14;
    }

    .footer-sub-text-1,
    .footer-sub-text-2
    {
        color:#fff;
        @include BNAxelGrotesk;
        max-width:587rem;
    }

    .footer-sub-text-1
    {
        @include fs16;
        margin-bottom: 27rem;
    }

    .footer-sub-text-2
    {
        @include fs20;
        margin-bottom: 30rem;
    }

    form
    {
        @include niceForm;
    }
}